<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Vestibule 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130406

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>E-Diagnostics</title>
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />

</head>
<body>

<div id="wrapper">
	<div id="logo" class="container">
		<h1>E-Diagnostics</h1>
		<br><br>
	</div>

	<div id="three-column" class="container" align="center">
		<h3 class="text-center mt-3" style="font-family: Verdana;" align="center">Please checked what you have selected. <br><br>If you want to add on, click the respective box. If done, click the Confirm button.</h3>
		<br><br>
		
		<div  id="confirmSelected">
			<textarea id="selected" rows="15" cols="50" align="center" style="font-size: 15px; background-color:#E5E6DD" readonly></textarea>
			<form action="{{ url_for('predictByModel') }}" method="post" enctype="multipart/form-data">
				<input type="text" name="selectedSymptoms" id="selectedSymptoms" style="display: none;">
				<br><br>
				<h3 class="text-center mt-3" style="font-family: Verdana;" align="center"><input type="submit" value="Confirm" style="background-color: #5BA689; color:white; font-size:1.0em;font-family:Verdana; width:120px; height:38px"/></h3>
			</form>
		</div>
		<br><br>
		<script>
			symptoms_dict = ['Itching',
                ' Skin Rash',
                ' Continuous Sneezing',
                ' Shivering',
                ' Stomach Pain',
                ' Acidity',
                ' Vomiting',
                ' Indigestion',
                ' Muscle Wasting',
                ' Patches in Throat',
                ' Fatigue',
                ' Weight Loss',
                ' Sunken Eyes',
                ' Cough',
                ' Headache',
                ' Chest Pain',
                ' Back Pain',
                ' Weakness in Limbs',
                ' Chills',
                ' Joint Pain',
                ' Yellowish Skin',
                ' Constipation',
                ' Pain During Bowel Movements',
                ' Breathlessness',
                ' Cramps',
                ' Weight Gain',
                ' Mood Swings',
                ' Neck Pain',
                ' Muscle Weakness',
                ' Stiff Neck',
                ' Pus Filled Pimples',
                ' Burning Micturition',
                ' Bladder Discomfort',
                ' High Fever',
                ' Nodal Skin Eruptions',
                ' Ulcers on Tongue',
                ' Loss of Appetite',
                ' Restlessness',
                ' Dehydration',
                ' Dizziness',
                ' Weakness of One Body Side',
                ' Lethargy',
                ' Nausea',
                ' Abdominal Pain',
                ' Pain in Anal Region',
                ' Sweating',
                ' Bruising',
                ' Cold Hands and Feets',
                ' Anxiety',
                ' Knee Pain',
                ' Swelling Joints',
                ' Blackheads',
                ' Foul Smell of Urine',
                ' Skin Peeling',
                ' Blister',
                ' Dischromic Patches',
                ' Watering from Eyes',
                ' Extra Marital Contacts',
                ' Diarrhoea',
                ' Loss of Balance',
                ' Blurred and Distorted Vision',
                ' Altered Sensorium',
                ' Dark Urine',
                ' Swelling of Stomach',
                ' Bloody Stool',
                ' Obesity',
                ' Hip Joint Pain',
                ' Movement Stiffness',
                ' Spinning Movements',
                ' Scurring',
                ' Continuous Feel of Urine',
                ' Silver Like Dusting',
                ' Red Sore Around Nose',
                ' Spotting Urination',
                ' Passage of Gases',
                ' Irregular Sugar Level',
                ' Family History',
                ' Lack of Concentration',
                ' Excessive Hunger',
                ' Yellowing of Eyes',
                ' Distention of Abdomen',
                ' Irritation in Anus',
                ' Swollen Legs',
                ' Painful Walking',
                ' Small Dents in Nails',
                ' Yellow Crust Ooze',
                ' Internal Itching',
                ' Mucoid Sputum',
                ' History of Alcohol Consumption',
                ' Swollen Blood Vessels',
                ' Unsteadiness',
                ' Inflammatory Nails',
                ' Depression',
                ' Fluid Overload',
                ' Swelled Lymph Nodes',
                ' Malaise',
                ' Prominent Veins on Calf',
                ' Puffy Face and Eyes',
                ' Fast Heart Rate',
                ' Irritability',
                ' Muscle Pain',
                ' Mild Fever',
                ' Yellow Urine',
                ' Phlegm',
                ' Enlarged Thyroid',
                ' Increased Appetite',
                ' Visual Disturbances',
                ' Brittle Nails',
                ' Drying and Tingling Lips',
                ' Polyuria',
                ' Pain behind the Eyes',
                ' Toxic Look (typhos)',
                ' Throat Irritation',
                ' Swollen Extremeties',
                ' Slurred Speech',
                ' Red Spots over Body',
                ' Belly Pain',
                ' Receiving Blood Transfusion',
                ' Acute Liver Failure',
                ' Redness of Eyes',
                ' Rusty Sputum',
                ' Abnormal Menstruation',
                ' Receiving Unsterile Injections',
                ' Coma',
                ' Sinus Pressure',
                ' Palpitations',
                ' Stomach Bleeding',
                ' Runny Nose',
                ' Congestion',
                ' Blood in Sputum',
                ' LSoss of Smell'
                ];
				
				existed = localStorage.getItem("checkedItem");
				document.getElementById("selectedSymptoms").value=existed;
				flag = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
						0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
				n = [];
				n = existed.split(",");				
				str = "";
				for (k in n) {
					temp = parseInt(n[k]);	
					if(flag[temp] == 0) {
						if(symptoms_dict[temp] == 'Itching') {
							str += " ";
						}
						str = str + symptoms_dict[temp];
						str += "\r\n";
						flag[temp] = 1;
					} 
				}
				document.getElementById("selected").value=str;
				
				var emptyFlag = flag.indexOf(1);
				if(emptyFlag == -1) {
					//empty detection
					alert("You should select at least one symptom!");
					top.location="/";
				}
				
		</script>
		<div class="tbox1">
			<div class="box-style box-style01">
				<div class="content">
					<div class="image"><a href="/dermatological"  class="image fit"><img src="{{ url_for('static',filename='images/img01.jpg')}}"  width="324" height="200" alt=" "></a></div>
					<h2>Dermatological</h2>
					<p style="font-size: 15px;">Dermatology is the branch of medicine dealing with symptoms from the skin. General research on managing diseases related to skin, hair and nails and some cosmetic problems.</p>
					<a href="/dermatological" class="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="tbox2">
			<div class="box-style box-style02">
				<div class="content">
					<div class="image"><a href="/internal"  class="image fit"><img src="{{ url_for('static',filename='images/img02.jpg')}}"  width="324" height="200" alt=" "></a></div>
					<h2>Internal</h2>
					<p style="font-size: 15px;">Internal medicine is the medical specialty dealing with the prevention, diagnosis, and treatment of internal diseases, including, Gastroenterology, Neurology, Oncology, etc. </p>
					<a href="/internal" class="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="tbox3">
			<div class="box-style box-style03">
				<div class="content">
					<div class="image"><a href="/ophthalmic"  class="image fit"><img src="{{ url_for('static',filename='images/img03.jpg')}}"  width="324" height="200" alt=" "></a></div>
					<h2>Ophthalmic </h2>
					<p style="font-size: 15px;">Ophthalmology deals with the diagnosis and treatment of eye disorders, including vitreous, optics, glaucoma and optic neuropathy, cataracts, and other ophthalmic diseases.</p>
					<a href="/ophthalmic" class="button">Enter</a>
				</div>
			</div>
		</div>
	</div>
	<div id="three-column" class="container">
		<div class="tbox1">
			<div class="box-style box-style01">
				<div class="content">
					<div class="image"><a href="/psychological"  class="image fit"><img src="{{ url_for('static',filename='images/img04.jpg')}}"  width="324" height="200" alt=" "></a></div>
					<h2>Psychological</h2>
					<p style="font-size: 15px;">Psychiatry is devoted to the diagnosis, prevention, and treatment of mental disorders, including various maladaptation related to mood, behavior, cognition, and perceptions. </p>
					<a href="/psychological" class="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="tbox2">
			<div class="box-style box-style02">
				<div class="content">
					<div class="image"><a href="/reproductive"  class="image fit"><img src="{{ url_for('static',filename='images/img05.jpg')}}"  width="324" height="200" alt=" "></a></div>
					<h2>Reproductive</h2>
					<p style="font-size: 15px;">Reproductive medicine is a branch of medicine concerning the male and female reproductive systems, encompassing various reproductive conditions, their prevention and assessment. </p>
					<a href="/reproductive" class="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="tbox3">
			<div class="box-style box-style03">
				<div class="content">
					<div class="image"><a href="/surgical"  class="image fit"><img src="{{ url_for('static',filename='images/img06.jpg')}}"  width="324" height="200" alt=" "></a></div>
					<h2>Surgical </h2>
					<p style="font-size: 15px;">Surgery investigates or treats a pathological condition such as a disease or injury, to help improve bodily function or appearance or to repair unwanted ruptured areas.</p>
					<a href="/surgical" class="button">Enter</a>
				</div>
			</div>
		</div>
	</div>	
</div>
<div id="footer">
	<p>2020 - NUS - ISS - Machine Reasoning Systems</p>
</div>
<!-- end #footer -->
</body>
</html>
