<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Vestibule 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130406

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Dermatological</title>
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div id="wrapper">
		<div id="logo" class="container">
			<h1 style="font-family: Verdana;">Dermatological</h1>
			<p>In posuere eleifend odio quisque semper augue.</p>
		</div>
	</div>
	<form action="/" method="POST">
		<div class="container">
			<h3 class="text-center mt-3" style="font-family: Verdana;">Select the Symptoms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" value="Confirm" align="center" onclick="storeData()" style="background-color: #5BA689; color:white"></h3>
			<table class="table table-striped table-hover mt-4" style="font-family: Verdana; width:650px" align="center">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" itching" value="0" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" itching">Itching </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" abnormal_menstruation" value="1" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" skin_rash">Skin Rash </label></td>
	              	</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" yellowish_skin" value="20" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" yellowish_skin">Yellowish Skin </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" pus_filled_pimples" value="30" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" pus_filled_pimples">Pus Filled Pimples </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" blackheads" value="51" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" blackheads">Blackheads </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" skin_peeling" value="53" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" skin_peeling">Skin Peeling </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" blister" value="54" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" blister">Blister </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" dischromic_patches" value="55" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" dischromic_patches">Dischromic Patches </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" silver_like_dusting" value="71" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" silver_like_dusting">Silver Like Dusting </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" red_sore_around_nose" value="72" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" red_sore_around_nose">Red Sore Around Nose </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" small_dents_in_nails" value="84" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" small_dents_in_nails">Small Dents in Nails </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" yellow_crust_ooze" value="85" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" yellow_crust_ooze">Yellow Crust Ooze </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" inflammatory_nails" value="91" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" inflammatory_nails">Inflammatory Nails </label></td>
					</tr><tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id="brittle_nails" value="107" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" brittle_nails">Brittle Nails </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id="red_spots_over_body" value="115" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" red_spots_over_body">Red Spots Over Body </label></td>
					</tr>
	            </tbody>
			</table>
			<br><br>
			<h3 class="text-center mt-3" style="font-family: Verdana;"><a href="/afterSelection"><input type="button" value="Back" align="center" style="background-color: #5BA689; color:white"></a></h3>
			<br><br>
		</div>
	</form>
	</div>

	<script>
		function storeData() {
			checkBox = document.getElementsByName("symptoms_checkbox");
			checked = [];
			for (k in checkBox) {
		        if (checkBox[k].checked)
		            checked.push(checkBox[k].value);
			}
			localStorage.tempItem = checked;
			if(localStorage.checkedItem == null) {
				localStorage.checkedItem = localStorage.tempItem;
			}
			else {
				localStorage.checkedItem = localStorage.checkedItem + ",";
				localStorage.checkedItem = localStorage.checkedItem + localStorage.tempItem;
			}
			window.location.href = "/afterSelection";
		}
	</script>


</body>
</html>
