<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Internal</title>
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div id="wrapper">
		<div id="logo" class="container">
			<h1 style="font-family: Verdana;">Internal</h1>
			<br>
			<p>This section mainly deals with internal diseases, including, Gastroenterology, Neurology, Oncology, etc.</p>
		</div>
	</div>
	<form action="/" method="POST">
		<div class="container">
			<h3 class="text-center mt-3" style="font-family: Verdana;">Select the Symptoms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" value="Confirm" align="center" onclick="storeData()" style="background-color: #5BA689; color:white"></h3>
			<table class="table table-striped table-hover mt-4" style="font-family: Verdana; width:650px" align="center">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" abdominal_pain" value="43" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" abdominal_pain">Abdominal Pain </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" acidity" value="5" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" acidity">Acidity </label></td>
	              	</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" acute_liver_failure" value="118" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" acute_liver_failure">Acute Liver Failure </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" altered_sensorium" value="61" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" altered_sensorium">Altered Sensorium </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" back_pain" value="16" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" back_pain">Back Pain</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" belly_pain" value="116" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" belly_pain">Belly Pain </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" blood_in_sputum" value="129" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" blood_in_sputum">Blood in Sputum </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" bloody_stool" value="64" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" bloody_stool">Bloody Stool </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" breathlessness" value="23" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" breathlessness">Breathlessness</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" chest_pain" value="15" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" chest_pain">Chest Pain</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" chills" value="18" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" chills">Chills</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" constipation" value="21" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" constipation">Constipation </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" dehydration" value="38" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" dehydration">Dehydration </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" distention_of_abdomen" value="80" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" distention_of_abdomen">Distention of Abdomen </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" dizziness" value="39" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" dizziness">Dizziness </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" enlarged_thyroid" value="104" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" enlarged_thyroid">Enlarged Thyroid </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" excessive_hunger" value="78" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" excessive_hunger">Excessive Hunger </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" fast_heart_rate" value="98" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" fast_heart_rate">Fast Heart Rate </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" fluid_overload" value="93" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" fluid_overload">Fluid Overload </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" headache" value="14" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" headache">Headache</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" high_fever" value="33" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" high_fever">High Fever </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" increased_appetite" value="105" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" increased_appetite">Increased Appetite </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" indigestion" value="7" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" indigestion">Indigestion</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" internal_itching" value="86" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" internal itching">Internal Itching </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" irregular_sugar_level" value="75" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" irregular_sugar_level">Irregular Sugar Level </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" joint_pain" value="19" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" joint_pain">Joint Pain </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" loss_of_appetite" value="36" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" loss_of_appetite">Loss of Appetite </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" loss_of_balance" value="59" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" loss_of_balance">Loss of Balance </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" malaise" value="95" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" malaise">Malaise </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" mild_fever" value="101" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" mild_fever">Mild Fever </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" mucoid_sputum" value="87" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" mucoid_sputum">Mucoid Sputum </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" nodal_skin_eruptions" value="34" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" nodal_skin_eruptions">Nodal Skin Eruptions </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" pain_during_bowel_movements" value="22" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" pain_during_bowel_movements">Pain During Bowel Movements</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" palpitations" value="125" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" palpitations">Palpitations </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" phlegm" value="103" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" phlegm">Phlegm </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" receiving_blood_transfusion" value="117" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" receiving_blood_transfusion">Receiving Blood Transfusion </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" rusty_sputum" value="120" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" rusty_sputum">Rusty Sputum </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" spinning_movements" value="68" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" spinning_movements">Spinning Movements </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" stomach_bleeding" value="126" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" stomach_bleeding">Stomach Bleeding </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" stomach_pain" value="4" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" stomach_pain">Stomach Pain </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" swelled_lymph_nodes" value="94" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" swelled_lymph_nodes">Swelled Lymph Nodes </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" swelling_of_stomach" value="63" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" swelling_of_stomach">Swelling of Stomach </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" throat_irritation" value="112" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" throat_irritation">Throat Irritation </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" ulcers_on_tongue" value="35" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" ulcers_on_tongue">Ulcers on Tongue </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" vomiting" value="6" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" vomiting">Vomiting</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" weakness_in_limbs" value="17" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" weakness_in_limbs">Weakness in Limbs </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" weakness_of_one_body_side" value="40" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" weakness_of_one_body_side">Weakness of One Body Side </label></td>
					</tr>
	            </tbody>
			</table>
			<br><br>
			<h3 class="text-center mt-3" style="font-family: Verdana;"><input type="button" value="Back" align="center" style="background-color: #5BA689; color:white" onclick="backTo()"></h3>
			<script>
				function backTo() {
					existed = localStorage.getItem("checkedItem");
					if(existed == null) {
						top.location = "/";
					}
					else {
						top.location = "/afterSelection";
					}
				}
			</script>
			
		</div>
	</form>
	</div>
	
	<script>
		function storeData() {
			checkBox = document.getElementsByName("symptoms_checkbox");
			checked = [];
			for (k in checkBox) {
		        if (checkBox[k].checked)
		            checked.push(checkBox[k].value);
			}
			localStorage.tempItem = checked;
			if(localStorage.checkedItem == null) {
				localStorage.checkedItem = localStorage.tempItem;
			}
			else {
				localStorage.checkedItem = localStorage.checkedItem + ",";
				localStorage.checkedItem = localStorage.checkedItem + localStorage.tempItem;
			}
			window.location.href = "/afterSelection";
		}
	</script>
	
</body>
<div id="footer">
	<p>2020 - NUS - ISS - Machine Reasoning Systems</p>
</div>
</html>
