<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Ophthalmic</title>
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div id="wrapper">
		<div id="logo" class="container">
			<h1 style="font-family: Verdana;">Ophthalmic</h1>
			<br>
			<p>This section deals with eye disorders, including vitreous, optics, glaucoma and optic neuropathy, cataracts, and etc.</p>
		</div>
	</div>
	<form action="/" method="POST">
		<div class="container">
			<h3 class="text-center mt-3" style="font-family: Verdana;">Select the Symptoms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" value="Confirm" align="center" onclick="storeData()" style="background-color: #5BA689; color:white"></h3>
			<table class="table table-striped table-hover mt-4" style="font-family: Verdana; width:650px" align="center">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" blurred_and_distorted_vision" value="60" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" blurred_and_distorted_vision">Blurred And Distorted Vision </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" pain_behind_the_eyes" value="110" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" pain_behind_the_eyes">Pain Behind The Eyes </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" redness_of_eyes" value="119" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" redness_of_eyes">Redness Of Eyes </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" sunken_eyes" value="12" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" sunken_eyes">Sunken Eyes </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" visual_disturbances" value="106" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" visual_disturbances">Visual Disturbances </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" watering_from_eyes" value="56" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" watering_from_eyes">Watering From Eyes </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" yellowing_of_eyes" value="79" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" yellowing_of_eyes">Yellowing Of Eyes </label></td>
					</tr>
	            </tbody>
			</table>
			<br><br>
			<h3 class="text-center mt-3" style="font-family: Verdana;"><input type="button" value="Back" align="center" style="background-color: #5BA689; color:white" onclick="backTo()"></h3>
			<script>
				function backTo() {
					existed = localStorage.getItem("checkedItem");
					if(existed == null) {
						top.location = "/";
					}
					else {
						top.location = "/afterSelection";
					}
				}
			</script>
		</div>
	</form>
	</div>
	<script>
		function storeData() {
			checkBox = document.getElementsByName("symptoms_checkbox");
			checked = [];
			for (k in checkBox) {
		        if (checkBox[k].checked)
		            checked.push(checkBox[k].value);
			}
			localStorage.tempItem = checked;
			if(localStorage.checkedItem == null) {
				localStorage.checkedItem = localStorage.tempItem;
			}
			else {
				localStorage.checkedItem = localStorage.checkedItem + ",";
				localStorage.checkedItem = localStorage.checkedItem + localStorage.tempItem;
			}
			window.location.href = "/afterSelection";
		}
	</script>
</body>
<div id="footer">
	<p>2020 - NUS - ISS - Graduate Cert in Intelligent Reasoning Systems</p>
</div>
</html>
