<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Psychological</title>
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div id="wrapper">
		<div id="logo" class="container">
			<h1 style="font-family: Verdana;">Psychological</h1>
			<br>
			<p>Psychiatry deals with mental disorders, including various maladaptation related to mood, behavior, cognition, and perceptions.</p>
		</div>
	</div>
	<form action="/" method="POST">
		<div class="container">
			<h3 class="text-center mt-3" style="font-family: Verdana;">Select the Symptoms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" value="Confirm" align="center" onclick="storeData()" style="background-color: #5BA689; color:white"></h3>
			<table class="table table-striped table-hover mt-4" style="font-family: Verdana; width:650px" align="center">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" anxiety" value="48" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" anxiety">Anxiety </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" coma" value="123" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" coma">Coma </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" depression" value="92" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" depression">Depression </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" extra_marital_contacts" value="57" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" extra_marital_contacts">Extra Marital Contacts </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" family_history" value="76" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" family_history">Family History </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" fatigue" value="10" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" fatigue">Fatigue </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" irritability" value="99" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" irritability">Irritability </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" lack_of_concentration" value="77" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" lack_of_concentration">Lack Of Concentration </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" lethargy" value="41" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" lethargy">Lethargy </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" mood_swings" value="26" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" mood_swings">Mood Swings </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" nausea" value="42" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" nausea">Nausea</label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" restlessness" value="37" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" restlessness">Restlessness </label></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><input type="checkbox" class="form-check-input" id=" scurring" value="69" name="symptoms_checkbox"></td>
						<td><label class="form-check-label" for=" scurring">Scurring </label></td>
					</tr>
	            </tbody>
			</table>
			<br><br>
			<h3 class="text-center mt-3" style="font-family: Verdana;"><input type="button" value="Back" align="center" style="background-color: #5BA689; color:white" onclick="backTo()"></h3>
			<script>
				function backTo() {
					existed = localStorage.getItem("checkedItem");
					if(existed == null) {
						top.location = "/";
					}
					else {
						top.location = "/afterSelection";
					}
				}
			</script>
		</div>
	</form>
	</div>
	<script>
		function storeData() {
			checkBox = document.getElementsByName("symptoms_checkbox");
			checked = [];
			for (k in checkBox) {
		        if (checkBox[k].checked)
		            checked.push(checkBox[k].value);
			}
			localStorage.tempItem = checked;
			if(localStorage.checkedItem == null) {
				localStorage.checkedItem = localStorage.tempItem;
			}
			else {
				localStorage.checkedItem = localStorage.checkedItem + ",";
				localStorage.checkedItem = localStorage.checkedItem + localStorage.tempItem;
			}
			window.location.href = "/afterSelection";
		}
	</script>
</body>
<div id="footer">
	<p>2020 - NUS - ISS - Graduate Cert in Intelligent Reasoning Systems</p>
</div>
</html>
